h1 {
     text-align: center; 
     color:rgb(230, 93, 13);
     margin:5px;
     font-size: 25px;    
}

section {
     text-align: justify;
}

h3 {
     margin: 5px;
     color:rgb(230, 93, 13);
}

h4 {
     margin: 5px;
     color:rgb(230, 93, 13);
}

h5 {
     margin: 1px;
     color: rgb(138, 90, 3);
     text-align: right;
}

body {
    margin:5px;
    background-color:rgb(255, 249, 241);
}

p {
     Margin: 5px;
     color:rgba(0, 0, 0, 0.719);
     word-spacing: 5px;
}